/*=======================================
       Basic Properties start
==========================================*/

* {
    margin: 0px;
    padding: 0px;
}

/*=======================================
       Basic Properties start
==========================================*/




/*=======================================
       Navigation Properties start
==========================================*/
.navbar {
    padding: 18px 0px;
    background-color: deepskyblue !important;
    border-bottom: none !important;
    transition: all 0.5s ease-in-out;
}

.navbar-toggle {
    border: 1px solid white !important;
    transition: all 0.5s ease-in;
}

.navbar-toggle:hover {
    background-color: deepskyblue !important;
}

ul li a {
    color: white !important;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s ease-in;
}

ul li a:hover {
    color: black !important;
    font-size: 14px;
}



/*=======================================
       Navigation Properties ends
==========================================*/





/*=======================================
      Background Properties Start
==========================================*/


#yoga-course-background {
    background-image: url(..//assets/images/yoga1.jpg);
    background-size: 100% 90%;
    background-position: center;
    margin-top: 10%;
    position: relative;
    height: 500px;
    width: 1263px;
}


/*=======================================
      Background Properties End
==========================================*/



/*========================================
       Courses Properties Starts
==========================================*/

.courses-area {
    margin-top: 30px;
}

.courses-area p {
    margin-bottom: -5px;
}

.courses-wrap {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 25px 35px;
    position: relative;
    transition: all 0.5s ease 0s;
    z-index: 9;
    margin-top: 20px;
}

.courses-wrap::before,
.courses-wrap::after {
    content: "";
    height: 300%;
    position: absolute;
    transform: rotate(45deg);
    width: 120%;
    z-index: -9;
    transition: all 0.5s;
    opacity: 0;
    background: deepskyblue;
}

.courses-wrap::before {
    top: -37px;
    left: 100%;

}

.courses-wrap:hover:before {
    left: -27px;
    opacity: 1;
}

.courses-wrap::after {
    right: 100%;
    bottom: -37px;
}

.courses-wrap:hover:after {
    right: -27px;
    opacity: 1;
}

.courses-wrap:hover {
    color: white;
}

*/ .courses-wrap:h3 {
    color: white;
}

.courses-wrap:hover h3 a {
    color: white;
}

.courses-wrap:hover h3 a:after {
    background-color: white;
}

.courses-icon i {
    font-size: 30px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.courses-wrap:hover .service-icon i {
    transform: rotate(360deg);
}

.courses-wrap h3 a {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 15px;
    position: relative;
    text-decoration: none;
    color: black;
}

.courses-wrap p {
    font-size: 14px;
    margin-bottom: 0;
}

.row:hover {
    cursor: pointer;
}


/*========================================
       Courses Properties End
==========================================*/



.card-body {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #ccc;
}

.container {
    margin-top: 1%;
}

.inner img {
    transition: all 1.5s ease;
    /* to rotate image smoothly*/

}

.inner:hover img {
    transform: rotate(5deg);
    /* to rotate the image 5 deg*/

}

.div1

/* for title image*/
    {
    position: relative;
    height: 500px;
    width: 1263px;
    background: url(online_video_title.png);
}






/*=======================================
       Footer Properties Start
==========================================*/

#footer-section {
    background-color: #c2f1e4;

}

.icons .fa {
    font-size: 40px;
    margin-right: 7px;
}

.social-networks .fa {
    border: 1px solid black;
    padding: 10px;
    color: black;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    transition: all 0.5s ease-in;
}

.social-networks .fa:hover {
    text-decoration: none;
    background-color: deepskyblue;
    color: black;
    border: 1px solid deepskyblue;
}

/*=======================================
       Footer Properties Ends
==========================================*/